@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    width: 450px;
    height: 250px;
  }

#v, #avg, #p1, #p1_5, #p2, #image{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}