@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 275px;
    background-color: #1f2020;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
    text-align: center;
}

#image img {
    height: 24px;
    margin-top: 16px;
}

p, label {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}

#controls {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    padding: 5px;
    background-color: #1f2020;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    outline: none;
}

footer {
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
    color: #a4a4a4;
}